<h1>Song: <%= @artist.name %></h1>

<p><%= link_to "Edit artist", edit_album_artist_path(@album, @artist) %></p>
<p><%= link_to "Delete artist", album_artist_path(@album, @artist),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to album", album_path(@album) %></p>
